<a href="https://colab.research.google.com/github/kamg2218/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_2%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 오픈소스 기반 데이터 분석 2강 - 데이터 분석을 위한 파이썬 1

## 2-1 리스트 슬라이싱

In [6]:
numbers = [10, 20, 30, 40, 50, 60, 70]
# 첫 4개의 원소 출력

print(numbers[:4])
# 뒤 3개의 원소를 출력

# print(last_three)
print(numbers[-3:])

[10, 20, 30, 40]
[50, 60, 70]

In [13]:
numbers = [10, 20, 30, 40, 50, 60, 70]

# 홀수번째 항목 출력

# print(every_other_list)
print(numbers[::2])

# 역순 출력

# print(reverse_list)
print(numbers[::-1])

[10, 30, 50, 70]
[70, 60, 50, 40, 30, 20, 10]

In [18]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
]

# 첫 두 행 출력


# print(first_two_rows)
print(matrix[0:2])

# 첫 두 열 출력


# print(first_two_columns)
print([row[0:2] for row in matrix])

[[1, 2, 3, 4], [5, 6, 7, 8]]
[[1, 2], [5, 6], [9, 10], [13, 14]]

## 2-2 리스트 컴프리헨션

In [20]:
numbers = [ ]

# 0 ~ 4 포함 리스트 생성
for i in range(5):
    numbers.append(i)

numbers = [num for num in range(5)]

print(numbers)

[0, 1, 2, 3, 4]

In [21]:
numbers = [1, 2, 3, 4, 5]
squares = [ ]

# numbers의 모든 항목의 값을 제곱한 리스트
for num in numbers:
  squares.append(num ** 2)

squares = [num ** 2 for num in numbers]
print(squares)

[1, 4, 9, 16, 25]

In [22]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [ ]

# 짝수만 추출한 리스트
for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)

even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [39]:
list1 = ['사과', '복숭아', '바나나']
list2 = ['주스', '잼', '통조림']
pairs = [ ]

# 두 리스트에 포함되 모든 원소를 조합한 투플의 리스트 생성
# for fruit in list1:
#     for product in list2:
#         pairs.append((fruit, product))

pairs = [(fruit, product) for fruit in list1 for product in list2]

print(pairs)

[('사과', '주스'), ('사과', '잼'), ('사과', '통조림'), ('복숭아', '주스'), ('복숭아', '잼'), ('복숭아', '통조림'), ('바나나', '주스'), ('바나나', '잼'), ('바나나', '통조림')]

In [43]:
squares = { }

# 딕셔너리 생성
# for i in range(5):
#     squares[i] = i ** 2

squares = {i: i ** 2 for i in range(5)}

print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [48]:
city_population = {
    '서울': 957, '부산': 339, '인천': 294, '대구': 242, '광주': 145, '대전': 147,
    '울산': 114, '세종': 36, '수원': 115, '창원': 103, '고양': 105, '용인': 108, '성남': 94
}

# 인구 200만명 이상의 도시 리스트

large_cities = {i: j for i, j in city_population.items() if j >= 200}

print(large_cities)

# 인구 300만 이상 및 이름에 '산'이 포함된 도시 리스트

large_short_name_cities = {i: j for i, j in city_population.items() if j >= 300 and '산' in i}

print(large_short_name_cities)

{'서울': 957, '부산': 339, '인천': 294, '대구': 242}
{'부산': 339}

## 2-3 문자열 형식화

In [60]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# C 스타일 문자열 포매팅
# 이름, 나이, 월급 출력
basic_format = '이름: %s, 나이: %d, 월급: %d' % (name, age, salary)
keyword_format = '이름: %(name)s, 나이: %(age)d, 월급: %(salary)d' % {"name":name, "age":age, "salary":salary}

# 직원이름, 나이, 세후 월급 출력
basic_format = '직원이름: %s, 나이: %d, 세후 월급: %.f' % (name, age, salary * (1-tax_rate))
keyword_format = '직원이름: %(name)s, 나이: %(age)d, 세후 월급: %(salary).f' % {"name":name, "age":age, "salary":salary * (1-tax_rate)}

# 직원이름, 나이, 월급, 세금, 실수령액 추력
basic_format = '직원이름: %s, 나이: %d, 세금: %.f, 실수령액: %.f' % (name, age, salary * tax_rate, salary * (1-tax_rate))
keyword_format = '직원이름: %(name)s, 나이: %(age)d, 세금: %(tax).f, 실수령액: %(salary).f' % {"name":name, "age":age, "tax": salary * tax_rate, "salary":salary * (1-tax_rate)}


print(basic_format)
print(keyword_format)

직원이름: 홍길동, 나이: 30, 세금: 350000, 실수령액: 3150000
직원이름: 홍길동, 나이: 30, 세금: 350000, 실수령액: 3150000

In [73]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# str.format 문자열 포매팅
# 이름, 나이, 월급 출력
basic_format = '이름: {}, 나이: {}, 월급: {}'.format(name, age, salary)
index_format = '이름: {0}, 나이: {1}, 월급: {2}'.format(name, age, salary)
keyword_format = '이름: {name}, 나이: {age}, 월급: {salary}'.format(name=name, age=age, salary=salary)

# 직원이름, 나이, 세후 월급 출력
basic_format = '직원이름: {}, 나이: {}, 세후 월급: {}'.format(name, age, int(salary * (1 - tax_rate)))
index_format = '직원이름: {0}, 나이: {1}, 세후 월급: {2}'.format(name, age, int(salary * (1 - tax_rate)))
keyword_format = '직원이름: {name}, 나이: {age}, 세후 월급: {salary}'.format(name=name, age=age, salary=int(salary * (1 - tax_rate)))

# 직원이름, 나이, 월급, 세금, 실수령액 추력
basic_format = '직원이름: {}, 나이: {}, 월급: {}, 세금: {}, 실수령액: {}'.format(name, age, salary, int(salary * tax_rate), int(salary * (1 - tax_rate)))
index_format = '직원이름: {0}, 나이: {1}, 월급: {2}, 세금: {3}, 실수령액: {4}'.format(name, age, salary, int(salary * tax_rate), int(salary * (1 - tax_rate)))
keyword_format = '직원이름: {name}, 나이: {age}, 월급: {salary}, 세금: {tax}, 실수령액: {netSalary}'.format(name=name, age=age, salary=salary, tax=int(salary * tax_rate), netSalary=int(salary * (1 - tax_rate)))


print(basic_format)
print(index_format)
print(keyword_format)

직원이름: 홍길동, 나이: 30, 월급: 3500000, 세금: 350000, 실수령액: 3150000
직원이름: 홍길동, 나이: 30, 월급: 3500000, 세금: 350000, 실수령액: 3150000
직원이름: 홍길동, 나이: 30, 월급: 3500000, 세금: 350000, 실수령액: 3150000

In [122]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# f-문자열 포매팅
# 이름, 나이, 월급 출력
basic_format = f"이름: {name}, 나이: {age}, 월급: {salary}"
index_format = f"이름: {name}, 나이: {age}, 월급: {salary}"
keyword_format = f"이름: {name}, 나이: {age}, 월급: {salary}"

# 직원이름, 나이, 세후 월급 출력
basic_format = f"이름: {name}, 나이: {age}, 세후 월급: {salary * (1 - tax_rate):.0f}"
index_format = f"이름: {name}, 나이: {age}, 세후 월급: {int(salary * (1 - tax_rate))}"
keyword_format = f"이름: {name}, 나이: {age}, 세후 월급: {int(salary * (1 - tax_rate))}"

# 직원이름, 나이, 월급, 세금, 실수령액 추력
basic_format = f"이름: {name}, 나이: {age}, 월급: {salary}, 세금: {salary * tax_rate: .0f}, 실수령액: {salary * (1 - tax_rate):.0f}"
index_format = f"이름: {name}, 나이: {age}, 월급: {salary}, 세금: {int(salary * tax_rate)}, 실수령액: {int(salary * (1 - tax_rate))}"
keyword_format = f"이름: {name}, 나이: {age}, 월급: {salary}, 세금: {int(salary * tax_rate): .0f}, 실수령액: {int(salary * (1 - tax_rate)):.0f}"


print(basic_format)
print(index_format)
print(keyword_format)

이름: 홍길동, 나이: 30, 월급: 3500000, 세금:  350000, 실수령액: 3150000
이름: 홍길동, 나이: 30, 월급: 3500000, 세금: 350000, 실수령액: 3150000
이름: 홍길동, 나이: 30, 월급: 3500000, 세금:  350000, 실수령액: 3150000

## 2-4 컨텍스트 관리

In [123]:
# 파일 오픈 & 클로즈
file = open('output.txt', 'w')
file.write('Hello, world!\n')
file.close()

In [126]:
# 복수개의 파일(읽기 & 쓰기) 관리
with open('output.txt', 'w') as file:
    file.write('Hello, world!\n')

In [124]:
import urllib.request

# URL 연결 관리
('https://raw.githubusercontent.com/jaehwachung/Data-Analysis-with-Open-Source/refs/heads/main/Chapter%203/students.csv')
    data = response.read( ).decode('utf-8')

print(data)

IndentationError: unexpected indent (ipython-input-1981888430.py, line 5)